.App {
  text-align: center;
  background-color: #121212;
  color: white;
}

.App-body {
  background-color: #121212;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);

  display: grid;
  grid-template-columns: 1fr 5fr;

  grid-gap: 1em;

}

.options {
  margin: 1em 0 1em 1em;
  display: grid;
  grid-column: 1/2;
  grid-template-rows: 2fr 1fr 1fr;
  grid-row-gap: 1em;
}

.editor {
  margin: 1em 1em 1em 0;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-row-gap: 1em;
}

textarea:focus { 
  outline: none !important;
  border-color: transparent;
  box-shadow: 0 0 0px transparent;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 1em;
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
}


.step {
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 5px;
}

.step-header {
  font-size: 14px;
  align-items: center;
}
