.App {
  text-align: center;
  background-color: #121212;
  color: white;
}

.App-body {
  background-color: #121212;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);

  display: grid;
  grid-template-columns: [col1] 25% [col2] 75%;
  grid-template-rows: [row1] 70% [row2] 30%;

  align-items: baseline;
  justify-content: flex-start;
}

.options {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row1;
  grid-row-end: row2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.code-area {
  grid-column-start: col2;
  grid-column-end: end;
  grid-row-start: row1;
  grid-row-end: row2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

textarea:focus { 
  outline: none !important;
  border-color: transparent;
  box-shadow: 0 0 0px transparent;
}

.text-area {
  width: 100%;
  max-height: 350px;
  font-family: Arial, Helvetica, sans-serif;
}

.step {
  margin: 20px;
  background-color: #2b2b2b;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.step-header {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}

.circle {
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  border: 2px solid #666;
  margin-right: 5px;
}